.no-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; 
}

body {
  background: radial-gradient(center center, circle closest-corner, rgb(46, 204, 102) 0%, rgb(21, 148, 76) 100%);
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 0px;
  width: 100%;
}

.navbar {
  background-color: rgb(215, 215, 215);
  border-color: rgb(223, 223, 223);

  .navbar-brand {
    width: 200px;
    margin: 0 auto;
    float: none;

    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 24px;
    color: rgb(56, 56, 56);

    transition: all 0.6s ease-in-out;
  }

  .navbar-brand::hover {
    color: rgb(46, 46, 46);
  }
}

.input {
  margin-top: 60px;
}

.input-group {
  input[type="text"] {
    background-color: rgb(242, 243, 255);
    border-color: rgb(221, 226, 234);
    transition: all 0.8s ease-in-out;
  }
}

.submit {
  .no-select();

  transition: all 0.26s ease-in-out;
}

.submit:hover {
  background-color: darken(rgb(29, 168, 204), 4%);
}

.submit.error {
  background-color: rgb(178, 128, 84);
  border-color: rgb(158, 108, 78);
}

button.btn.btn-export {
  height: 40px;
  min-width: 80px;
  margin-top: 20px;

  background-color: rgb(9, 142, 204);
  border: 1px solid rgb(23, 102, 234);

  font-family: "Source Sans Pro";
  font-size: 18px;
  color: rgb(255, 255, 255);
  .no-select();
}

.input-group-addon {
  background-color: rgb(29, 168, 204);
  border-color: rgb(29, 148, 182);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.citation-status.spin {
  animation: rotate infinite 0.8s;
}

@keyframes delete {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-240%, 0);
  }
}

.results {
  min-height: 400px;
  margin-top: 40px;

  .citation {
    position: relative;
    min-height: 40px;
    margin: 6px 0;
    padding: 12px;

    border-radius: 4px;
    background-color: rgb(221, 249, 255);
    border: 1px solid;

    border-color: rgb(126, 126, 205);

    .content {
      padding-right: 16px;
    }

    .remove {
      position: absolute;
      top: 2px;
      right: 2px;
      width: 20px;
      height: 20px;
      cursor: pointer;

      font-size: 20px;

      transition: all 0.6s ease-in;
    }

    .remove:hover {
      color: rgb(255, 138, 76);
    }
  }

  .citation.delete {
    animation: delete 1.42s;
  }
}

#export-modal .modal-body textarea {
  display: block;
  width: 100%;
  min-height: 6em;

  border: none;
  resize: none;
  outline: none;
}
